@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject ControladoraState Controlador
@inject BancadaState Bancada
@implements IDisposable

<div class="controladora-container">
    <div class="logo">
        <span class="marca">intelbras</span>
        <span class="modelo">CIE 1125</span>
    </div>

    <div class="controle">
        <div class="controle-visor">
            <div class="visor">
                @if (Controlador.IsOn)
                {
                    @if (Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.AlarmeGeralDisplay)
                    {
                        <div class="visor-content-alarme">
                            <div class="alarme-titulo">Alarme</div>
                            <div class="alarme-titulo">@Controlador.LastAlarmSource</div>
                            <div class="alarme-status">Sistema em Alarme</div>
                        </div>
                        <div class="display-footer-alarme-area">
                            <div class="footer-alarme-item">
                                <span>@Controlador.AlarmesCount</span>
                                <span>Alarme</span>
                            </div>
                            <div class="footer-alarme-item">
                                <span>@Controlador.FalhasCount</span>
                                <span>Falha</span>
                            </div>
                            <div class="footer-alarme-item">
                                <span>@Controlador.BloqueiosCount</span>
                                <span>Bloq</span>
                            </div>
                            <div class="footer-alarme-item">
                                <span>@Controlador.SuperCount</span>
                                <span>Super</span>
                            </div>
                        </div>
                    }
                    else if (Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.SenhaNivel2 || Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.SenhaNivel2ParaSilenciarSirene)
                    {
                        <div class="visor-content-senha-nivel2">
                            <div class="titulo"><span>Senha Nível 2</span></div>
                            <div class="title-separator-line"></div>
                            <div class="senha-input">
                                <div class="senha-asteriscos">
                                    @Controlador.PasswordInput
                                </div>
                            </div>
                        </div>
                        <div class="display-footer-buttons-area">
                            <div class="footer-button active-ok"><span>Voltar</span></div>
                            <div class="footer-button active-ok"><span>Apaga</span></div>
                            <div class="footer-button active-ok"><span>Limpa</span></div>
                            <div class="footer-button active-ok"><span>OK</span></div>
                        </div>
                    }
                    else if (Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.ConfirmarReiniciarCentral)
                    {
                        <div class="visor-content-senha-nivel2">
                            <div class="titulo"><span>Confirmar</span></div>
                            <div class="title-separator-line"></div>
                            <div class="confirmar-pergunta">Reiniciar Central?</div>
                        </div>
                        <div class="display-footer-buttons-area">
                            <div class="footer-button active-ok"><span>Não</span></div>
                            <div class="footer-button empty"></div>
                            <div class="footer-button empty"></div>
                            <div class="footer-button active-ok"><span>Sim</span></div>
                        </div>
                    }
                    else
                    {
                        <div class="visor-content">
                            @if (Controlador.CurrentDisplayLines.Any())
                            {
                                for (int i = 0; i < Controlador.CurrentDisplayLines.Count; i++)
                                {
                                    var line = Controlador.CurrentDisplayLines[i];
                                    <div class=" @(i == Controlador.SelectedLineDisplayIndex ? "selected-line" : "")">@line</div>
                                    if (i == 0 && Controlador.ShowTitleSeparatorLine)
                                    {
                                        <div class="title-separator-line"></div>
                                    }
                                }
                            }
                        </div>

                        <div class="display-footer-buttons-area">
                            @for (int i = 1; i <= 4; i++)
                            {
                                var buttonText = Controlador.GetContextualButtonText(i);
                                var buttonClass = string.IsNullOrEmpty(buttonText) ? "empty" : "active-ok";

                                <div class="footer-button @buttonClass">
                                    @if (!string.IsNullOrEmpty(buttonText))
                                    {
                                        <span>@buttonText</span>
                                    }
                                </div>
                            }
                        </div>
                        @if (Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.MenuPrincipal ||
                                        Controlador.CurrentScreen == Simulador1.Client.Services.ControladoraState.Screen.EventHistory_Alarms)
                        {
                            <div class="scroll-bar-container">
                                <div class="scroll-bar" style="height: @(Controlador.ScrollHandleHeight)px; top: @(Controlador.ScrollHandleTop)px;"></div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="display-off-indicator"></div>
                }
            </div>

            <div class="botao-visor filha">
                <button @onclick="() => Controlador.PressContextualButton1()"></button>
                <button @onclick="() => Controlador.PressContextualButton2()"></button>
                <button @onclick="() => Controlador.PressContextualButton3()"></button>
                <button @onclick="() => Controlador.PressContextualButton4()"></button>
            </div>
        </div>

        <div class="leds filha">
            <div class="led-item">
                <div class="led @(Controlador.LedFonteVerde ? "led-verde" : (Controlador.LedFonteVermelho ? "cinza" : "cinza"))"></div>
                <span>Fonte</span>
            </div>
            <div class="led-item">
                <div class="led @(Controlador.LedFalhaAmarelo ? "amarelo" : "cinza")"></div>
                <span>Falha</span>
            </div>
            <div class="led-item">
                <div class="led @(Controlador.LedAlarmeVermelho ? "led-vermelho" : "cinza")"></div>
                <span>Alarme</span>
            </div>
            <div class="led-item">
                <div class="led @(Controlador.LedSupervisaoAmarelo ? "amarelo" : "cinza")"></div>
                <span>Supervisão</span>
            </div>
        </div>

        <div class="meio filha">
            <div class="teclado">
                <button @onclick="() => Controlador.PressBackButton()"><img src="media/voltar.png" class="icone" /></button>
                <button @onclick="() => Controlador.PressNavigateUp()" class="cima"><span>v</span></button>
                <button @onclick="() => Controlador.PressOkMenu()">OK <br /> Menu</button>
                <button @onclick="() => Controlador.PressNavigateLeft()"><span>&lt;</span></button>
                <button @onclick="() => Controlador.PressNavigateDown()"><span>v</span></button>
                <button @onclick="() => Controlador.PressNavigateRight()"><span>&gt;</span></button>

                <button @onclick="() => Controlador.PressNumber(1)">1</button>
                <button @onclick="() => Controlador.PressNumber(2)">2 abc</button>
                <button @onclick="() => Controlador.PressNumber(3)">3 def</button>
                <button @onclick="() => Controlador.PressNumber(4)">4 ghi</button>
                <button @onclick="() => Controlador.PressNumber(5)">5 jkl</button>
                <button @onclick="() => Controlador.PressNumber(6)">6 mno</button>
                <button @onclick="() => Controlador.PressNumber(7)">7 pqrs</button>
                <button @onclick="() => Controlador.PressNumber(8)">8 tuv</button>
                <button @onclick="() => Controlador.PressNumber(9)">9 wxyz</button>
                <div></div>
                <button @onclick="() => Controlador.PressNumber(0)">0</button>
                <div></div>
            </div>

            <div class="laterais">
                <button @onclick="() => Controlador.PressReiniciarCentral()" class="@(Controlador.IsReiniciandoCentral ? "reiniciar-central-pulsante" : "")"></button>
                <span>Reiniciar<br />Central</span>
                <button @onclick="() => Controlador.PressBloqueios()"></button>
                <span>Bloqueios</span>
                <button @onclick="() => Controlador.PressSilenciarSirene()" class="@(Controlador.IsSireneSilenciada ? "silenciar-sirene" : "")"></button>
                <span>Silenciar<br />Sirene</span>
                <button @onclick="() => Controlador.PressSireneBrigada()"></button>
                <span>Sirene de<br />Brigada</span>
            </div>
        </div>

        <div class="inferior filha">
            <div class="botao-inferior">
                <button class="circle" @onclick="() => Controlador.PressSilenciarBipInterno()"></button>
                <span>Silenciar<br />Bip Interno</span>
                <img src="/media/controladoraIcone.svg" class="icone" />
            </div>
            <div class="botao-inferior">
                <button class="circle" @onclick="() => Controlador.PressAdiarSirene()"></button>
                <span>Adiar<br />Sirene</span>
                <img src="/media/relogioIcone.svg" class="icone" />
            </div>
            <div class="botao-inferior">
                <button class="circle @(Controlador.IsAlarmeGeral ? "led-vermelho" : "")" @onclick="() => Controlador.PressAlarmeGeral()"></button>
                <span>Alarme<br />Geral</span>
                <img src="/media/sireneIcon.svg" class="icone" />
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Bancada.OnChange += OnBancadaStateChanged;
        Controlador.OnChange += StateHasChanged;
    }

    private void OnBancadaStateChanged()
    {
        Controlador.CheckForAlarm();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnBancadaStateChanged;
        }
        Controlador.OnChange -= StateHasChanged;
    }
}