@namespace Simulador1.Pages
@page "/sensor-gas"
@rendermode InteractiveAuto
@using Radzen.Blazor
@using Simulador1.Client.Services
@inject BancadaState Bancada
@inject ControladoraState Controladora
@implements IDisposable


<div class="sensor-gas-container">
    <div class="sensor-gas">
        <div class="base-sombra"></div>

        <div class="corpo-principal">

            <div class="led led-verde @(powerOn ? "led-ativo" : "")"></div>
            <div class="led led-vermelho @(alarmeAtivo ? "led-ativo" : "")"></div>

            <div class="grelha-central-container">
                <div class="aletas-container">
                    @for (int i = 0; i < 16; i++)
                    {
                        <div class="aleta-grelha" style="transform: rotate(@(i * 22.5)deg);"></div>
                    }
                </div>

                <div class="grelha-parede-interna"></div>

                <div class="hub-central">
                    <div class="centro-metalico"></div>
                    <div class="simbolo-proibido"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rz-text-align-center slider">
    <RadzenSlider Value="@value" TValue="double" Step="1" Min="0" Max="15" ValueChanged="@OnSliderValueChanged" />
    <span>Nivel de Metano: @value %</span>
</div>

@code {
    private bool powerOn = false;
    private bool alarmeAtivo = false;
    double value = 0;
    private bool hasAlarmed = false;

    protected override void OnInitialized()
    {
        Bancada.OnChange += OnBancadaStateChanged;
        UpdateSensorState();
    }

    private void OnBancadaStateChanged()
    {
        InvokeAsync(UpdateSensorState);
    }

    private void UpdateSensorState()
    {
        if (Bancada.IsOn)
        {
            powerOn = true;
            alarmeAtivo = true;
        }
        else
        {
            powerOn = false;
            alarmeAtivo = false;
        }
        StateHasChanged();
    }

    private void OnSliderValueChanged(double newValue)
    {
        value = newValue;
        if (value >= 10 && Controladora.IsOn)
        {
            Bancada.AtivarAlarmeGeral();
            Controladora.DisplayAlarme("Detector de Gás");
            hasAlarmed = true;
        }
        else if (value < 10 && hasAlarmed)
        {
            hasAlarmed = false;
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnBancadaStateChanged;
        }
    }
}